/*CSS*/

* {padding: 0; margin: 0; overflow: hidden;}
/*1. Sets the color of the sky. Also adjusts the resolution based on my 1366 x 768 monitor.*/
#sky{
   position: relative;
   background-color: lightblue;
   width: 1366px;
   height: 475px;
   z-index: -1;
}
/*2. Sets the color of the ground. Also sets it's dimensions based on my monitor. */
#ground{
   background-color: green;
   width: 1366px;
   height: 200px;
   z-index: -1;
   
}
/*3-6. All my mountains have the same color and positioning standards.*/
.mountain{
   position: absolute;
   bottom: -20px;
   display: block;
   float: left;
   z-index: 2;
   
   border: solid grey;
   border-color: transparent;
   border-bottom-color: grey;
   
   width: 0;
   height: 0;
   margin: 20px;
}
/* the following 'mountainX' ID's adjust each mountain to have unique sizes and dimensions.*/
#mountain1{
   left: 870px;
   border-width: 176px 276px;
}
#mountain2{
   left: 550px;
   border-width: 255px 300px;
}
#mountain3{
   left: 184px;
   border-width: 198px 293px;
}
#mountain4{
   left: -256px;
   border-width: 266px 320px;
}

/* 7-13. sets the basic properties of each cloud fluff. */
.clouds{
   position: absolute;
   display: block;
   background-color: white;
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

/*Sets some custom properties in the cloud objects to add variety.
  These are the positions, widths, and even heights in some cases.*/
#cloud1{
   left: 1000px;
   top: 50px;
   width: 140px;
}

#cloud2{
   left: 922px;
   top: 65px;
   width: 165px;
}

#cloud3{
   left: 655px;
   top: 145px;
   width: 260px;
}
#cloud4{
   left: 545px;
   top: 115px;
   width: 225px;
}
#cloud5{
   left: 280px;
   top: 40px;
   width: 213px;
   height: 95px;
}
#cloud6{
   left: 200px;
   top: 2px;
   width: 210px;
}
#cloud7{
   left: 600px;
   top: 40px;
   width: 185px;
}
/*14. Creates a very odd looking rounded shape. Used the site in the lecture to help make it.
   The rotation, skewing, and radius help give it more of a 'lake in the distance' feeling.*/
#lake{ 
    position: relative; 
    height: 179px; 
    width: 280px; 
    background-color: #428BCA; 
    border-radius: 150px; 
    top: -51px; 
    left: 200px;
    transform: rotate(162deg) skew(61deg); 
   
    
}

/*15-17. These are little sparking squares on the water. */
.ripple {
   position: relative;
   background-color: white;
   transform: rotate(80deg);
   z-index: 2;
   height: 50px;
   width: 5px;
   
}
/*custom positions for the shimmers.*/
#ripple1{top: -185px; left: 320px;}
#ripple2{top: -190px; left: 275px;}
#ripple3{top: -225px; left: 385px;}